import graphics
from ghost_support import *
import string
from random import seed, shuffle
import random


def readfile(File_name):
    infile = open(File_name, "wordlist_short")
    filetext = infile.read().splitlines()
    infile.close()
    for letter in string.ascii_uppercase:
        letters_text = infile.read().splitlines()
def main():
    File_name = input("Enter a dictionary filename: ")
    Letters = readfile(File_name)
    print('Frequency of each letter:')
    for letter in string.ascii_uppercase:
        print(letter + ':' + Letters)
    Answer =input("Would you like to play a nice game of Ghost Word? ")
    Answer.lower()
    while (Answer != 'n' or 'y'):
        Answer = input('Would you like to play a nice game of Ghost Word? ')
        if Answer == 'n':
            print ('Have a super awesome day, friend!')
            sys.exit(1)
        if Answer == 'y':
            BOARD_WIDTH = 675
            BOARD_HEIGHT = 675
            window = GraphWin('Word Game', BOARD_WIDTH, BOARD_HEIGHT)
            window.setBackground('Lightgreen')
            center = Point(675/2, 100)  # create a point to serve as the center of the circle
            radius = 100
            circle = Circle(center, radius)  # create a circle centered at "center" with radius "radius"
            circle.setOutline('black')
            circle.draw(window)
            line = Point(200, 300)
            line.setOutline('black')
            line.draw(window)
            window.getMouse()
            print("Hint:")

main()
